################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatApp/.vs/ChatApp
/ChatApp/ChatApp/bin/Debug/net6.0/ref/ChatApp.dll
/ChatApp/ChatApp/bin/Debug/net6.0
/ChatApp/ChatApp/obj
/MVCFirst/.vs/MVCFirst
/MVCFirst/MVCFirst/bin/Debug/net6.0
/MVCFirst/MVCFirst/obj
/MVCSecond/.vs/MVCSecond/v17
/MVCSecond/MVCSecond/bin/Debug/net6.0
/MVCSecond/MVCSecond/obj
/WebAppWithIdentity
/MoveShape/.vs/MoveShape/v17
/MoveShape/MoveShape/bin/Debug/net6.0
/MoveShape/MoveShape/obj
/MVCSecond/.vs/MVCSecond
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/net6.0
/WebApplication1/WebApplication1/obj
/IdentityApp/.vs/IdentityApp/v17
/IdentityApp/IdentityApp/bin/Debug/net6.0
/IdentityApp/IdentityApp/obj
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Release/net6.0
/IdentityApp/MSTestProject/bin/Debug/net6.0
/IdentityApp/NUnitTestProject/bin/Debug/net6.0
